version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run:
          name: Install and configure dependencies
          command: 'sudo npm install -g @quasar/cli@latest && sudo npm install -g gh-pages@latest && git config user.email "ci-build@tobymosque.net" && git config user.name "ci-build"'
      - run:
          name: installing dependencies
          command: 'cd test/app && yarn && quasar upgrade -i'
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - add_ssh_keys:
          fingerprints:
            - "16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48"
            - "e6:8a:ef:c5:2d:66:f3:6e:0f:fc:c4:3a:98:b4:ca:7c"
      - run:
          name: build test app
          command: 'cd test/app && quasar build -m spa'
      - run:
          name: Deploy docs to gh-pages branch
          command: ssh-keyscan -t rsa github.com | ssh-keygen -lf - && sudo gh-pages --dotfiles --message "[skip ci] Updates" --dist test/app/dist/spa
