@import '~quasar-variables'

.q-datetimepicker
  .q-tab-panel,
  .q-card__section
    padding: 0px
    overflow: auto
  .q-date,
  .q-time
    border-radius: 0px
    box-shadow: none
  .tabs-landscape .q-tabs__content .q-tab--full
    height: 50%
    .q-tab__content
      position: relative
      top: 50%
      transform: translateY(-50%)

.q-menu.scroll
  overflow: unset

.q-datetimepicker.q-card--dark
  background: $grey-9
  .q-tab-panels
    background: $grey-9
