@import '~quasar-variables'

.q-datetimepicker
  .q-tab-panel,
  .q-card__section
    padding: 0px
  .q-date,
  .q-time
    border-radius: 0px
    box-shadow: none

.q-menu.scroll
  overflow: unset

.q-datetimepicker.q-card--dark
  background: $grey-9
  .q-tab-panels
    background: $grey-9
